{% extends "base.html" %} 
{% load static %} 

{% block title %}Homepage{% endblock %} 
{% block page_header %}
<div class="jumbotron jumbotron-fluid text-white jumbotron-bg">
  <div class="container text-center">
    <h1 class="display-4 font-weight-bold">Welcome to Fitnest</h1>
    <p class="lead">
      Your go-to platform for fitness programs, health products, and a
      supportive community.
    </p>
    <a
      href="{% url 'products:product_catalog' %}"
      class="btn btn-primary btn-lg mt-3"
      >Shop Now</a
    >
  </div>
</div>
{% endblock %} 

{% block content %}
<div class="row">
  <!-- Left Column: Comments -->
  <div class="col-md-8">
    <h2 class="mb-4 text-center text-primary font-weight-bold">
      User Feedback
    </h2>
    {% for comment in comments %}
    <div class="media border p-3 mb-3 shadow-sm rounded comment-media">
      <picture>
        <source
          srcset="{% static 'images/maxim-berg.webp' %}"
          type="image/webp"
        />
        <img
          src="{% static 'images/maxim-berg-small.jpg' %}"
          class="align-self-start mr-3 rounded-circle"
          loading="lazy"
          alt="User Avatar"
          width="60"
          height="60"
        />
      </picture>
      <div class="media-body">
        <h5 class="mt-0 text-dark">
          {{ comment.user.username }}
          <small class="text-muted"
            >on {{ comment.created_at|date:"F j, Y, g:i a" }}</small
          >
        </h5>
        <p class="mt-2">
          <strong>Category:</strong> {{ comment.category.name }}
        </p>
        {% if comment.product %}
        <p><strong>Product:</strong> {{ comment.product.name }}</p>
        {% endif %}
        <p>{{ comment.content }}</p>
        <!-- Delete button for admin users -->
        {% if user.is_staff %}
        <form
          method="post"
          action="{% url 'delete_comment' comment.id %}"
          class="d-inline"
        >
          {% csrf_token %}
          <button type="submit" class="btn btn-danger btn-sm mt-2">
            Delete
          </button>
        </form>
        {% endif %}
      </div>
    </div>
    {% empty %}
    <p class="text-muted text-center">
      No feedback yet. Be the first to share your thoughts!
    </p>
    {% endfor %}
  </div>

  <!-- Right Column: Comment Form -->
  <div class="col-md-4">
    <div class="card shadow-sm comment-form">
      <div class="card-body">
        <h2 class="card-title text-center text-primary font-weight-bold">
          Leave a Comment
        </h2>
        {% if user.is_authenticated %}
        <form method="post" class="mt-3">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit" class="btn btn-primary btn-block mt-3">
            Submit
          </button>
        </form>
        {% else %}
        <div class="alert alert-info text-center mt-3" role="alert">
          Please
          <a href="{% url 'account_login' %}" class="alert-link">log in</a> to
          leave a comment.
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- Newsletter Signup Section -->
  <div class="d-flex justify-content-end mt-5">
    <div class="card shadow-sm" style="width: 350px">
      <div class="card-body">
        <h5 class="card-title">Subscribe to Our Newsletter</h5>
        <form method="POST" action="{% url 'newsletter_signup' %}">
          {% csrf_token %}
          <div class="form-group">
            {{ newsletter_form.email.label_tag }} 
            {{ newsletter_form.email }}
          </div>
          <button type="submit" class="btn btn-primary">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
