{% extends "base.html" %}
{% load static %}


{% block content %}
  <h1>{{ product.name }}</h1>
  <p><strong>Description:</strong> {{ product.description }}</p>
  <p><strong>Price:</strong> €{{ product.price }}</p>
  {% if product.image %}
    <img src="{{ product.image.url }}" loading="lazy" alt="{{ product.name }}" style="max-width: 300px;">
  {% else %}
    <img src="{% static 'images/no-image.jpeg' %}" loading="lazy" alt="No image available" style="max-width: 300px;">
  {% endif %}

{% endblock %}
